* {
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Rubik', sans-serif;
  font-size: 12px;
  font-weight: 100;
  color: #4c4c4c; }

header {
  height: 50px;
  background: #212121; }
  header h1 {
    margin: 0;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 100;
    color: #fff;
    line-height: 50px; }
    header h1 i {
      color: #c28e0a; }
  header span {
    font-size: 12px; }

.app {
  width: 1200px;
  margin: auto; }

.view {
  background: #fff;
  padding: 20px;
  margin-left: 25%; }

a {
  color: #212121;
  text-decoration: none;
  transition: color .2s; }
  a:visited {
    color: #212121; }
  a:hover, a:active {
    color: #338ca6; }
  a:focus {
    color: #212121; }

ul {
  list-style-type: none;
  padding: 0;
  margin: 0; }

input[type="text"] {
  font-family: 'Rubik', sans-serif;
  width: 100%;
  padding: 4px 6px;
  outline: none;
  border-radius: 0;
  box-shadow: none;
  border: 1px solid #eee;
  font-size: 12px;
  font-weight: 100;
  transition: border-color .2s; }
  input[type="text"]:focus {
    border-color: #95bac5; }

em {
  background: #ddeff5;
  color: #338ca6; }

.clearfix {
  clear: both; }

table {
  padding: 0;
  margin: 0;
  width: 100%;
  border-collapse: collapse; }
  table thead th {
    text-align: left;
    color: #aaa;
    border-bottom: 1px solid #eee;
    height: 30px;
    font-weight: 100; }
    table thead th:first-child {
      padding-left: 10px; }
  table tbody tr:nth-child(odd) td {
    background: #f1f1f1; }
  table tbody tr:hover td {
    color: #338ca6;
    cursor: pointer;
    background: #ddeff5; }
  table tbody td {
    height: 28px; }
    table tbody td:first-child {
      padding-left: 10px; }

::-webkit-input-placeholder {
  font-family: 'Rubik', sans-serif !important;
  font-weight: 100; }

::-moz-placeholder {
  font-family: 'Rubik', sans-serif !important;
  font-weight: 100; }

:-ms-input-placeholder {
  font-family: 'Rubik', sans-serif !important;
  font-weight: 100; }

:-moz-placeholder {
  font-family: 'Rubik', sans-serif !important;
  font-weight: 100; }

.facet-toggler {
  position: absolute;
  top: 14px;
  left: 10px;
  font-size: 20px;
  color: #fff;
  display: none; }
  .facet-toggler i {
    transition: opacity .2s;
    position: absolute;
    top: 0;
    left: 0; }
  .facet-toggler .counter {
    position: absolute;
    top: -5px;
    right: -30px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    border-radius: 50%;
    background: #338ca6;
    color: #fff;
    text-align: center; }
  .facet-toggler.facets-visible .counter {
    display: none; }
  .facet-toggler.facets-visible .facets-visible {
    opacity: 1; }
  .facet-toggler.facets-visible .facets-hidden {
    opacity: 0; }
  .facet-toggler.facets-hidden .counter {
    display: block; }
  .facet-toggler.facets-hidden .facets-visible {
    opacity: 0; }
  .facet-toggler.facets-hidden .facets-hidden {
    opacity: 1; }

.facets {
  float: left;
  width: 25%;
  padding: 20px;
  padding-bottom: 0;
  background: #fff; }
  .facets .facet {
    height: 16px;
    cursor: pointer;
    margin-bottom: 10px; }
  .facets .facet-name {
    font-size: 14px;
    text-transform: uppercase;
    padding-bottom: 6px;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
    color: #338ca6; }
    .facets .facet-name a {
      float: right; }
  .facets .facet.active .facet-value {
    color: #338ca6; }
    .facets .facet.active .facet-value:hover {
      text-decoration: line-through; }
  .facets .facet-value {
    vertical-align: middle; }
  .facets .facet-count {
    float: right; }
  .facets .facet-check input[type="checkbox"]:not(:checked),
  .facets .facet-check input[type="checkbox"]:checked {
    position: absolute;
    left: -9999px; }
  .facets .facet-check input[type="checkbox"]:not(:checked) + label,
  .facets .facet-check input[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 20px;
    cursor: pointer; }
  .facets .facet-check input[type="checkbox"]:not(:checked) + label:before,
  .facets .facet-check input[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 10px;
    height: 10px;
    border: 1px solid #4c4c4c;
    border-radius: 2px; }
  .facets .facet-check input[type="checkbox"]:checked + label:before {
    border: 1px solid #4c4c4c; }
  .facets .facet-check input[type="checkbox"]:not(:checked) + label:after,
  .facets .facet-check input[type="checkbox"]:checked + label:after {
    content: 'x';
    position: absolute;
    top: 1px;
    left: 3px;
    font-size: 11px;
    color: #4c4c4c;
    transition: all .2s; }
  .facets .facet-check input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0); }
  .facets .facet-check input[type="checkbox"]:checked + label:after {
    opacity: 1;
    transform: scale(1); }

.search {
  border: 1px solid #eee;
  margin: 0 20px;
  margin-top: 20px; }
  .search i {
    font-size: 16px;
    text-align: center;
    width: 50px;
    color: #aaa;
    padding: 0 20px;
    color: #338ca6; }
  .search input.search-input {
    width: calc(100% - 60px);
    padding: 8px 12px;
    font-size: 18px;
    border: 0; }

.toolbar {
  font-size: 14px;
  padding-bottom: 6px;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px; }
  .toolbar .total-hits {
    color: #338ca6; }
  .toolbar .total-time {
    font-size: 12px;
    color: #aaa; }
  .toolbar .view-modes {
    float: right;
    font-size: 16px; }
    .toolbar .view-modes a {
      display: inline-block;
      margin-right: 10px;
      color: #ddd; }
      .toolbar .view-modes a:hover, .toolbar .view-modes a.active {
        color: #212121; }
      .toolbar .view-modes a:last-child {
        margin: 0; }

.hits-list {
  background: #fff; }
  .hits-list li {
    border-bottom: 1px solid #eee; }
    .hits-list li:last-child {
      border: 0; }
  .hits-list a {
    display: block;
    padding: 10px 0; }
  .hits-list .hit-thumb {
    float: left; }
    .hits-list .hit-thumb img {
      width: 40px;
      height: 40px; }
  .hits-list .hit-name {
    font-size: 18px;
    margin-left: 60px;
    margin-bottom: 6px; }
  .hits-list .hit-category {
    margin-left: 60px;
    font-size: 14px; }
  .hits-list .image-error {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #f1f1f1;
    text-align: center; }

.hits-grid img {
  vertical-align: middle;
  width: 20%;
  height: 200px;
  display: inline-block;
  margin: 20px; }

.hits-grid .image-error {
  display: inline-block;
  width: 20%;
  height: 200px;
  line-height: 200px;
  margin: 20px;
  background: #f1f1f1;
  text-align: center; }

.bookmarks input {
  padding: 6px 10px;
  font-size: 14px; }

.bookmarks .notice {
  padding: 10px;
  background: #fdf1d3;
  margin-bottom: 10px; }

.bookmarks li {
  padding: 10px;
  margin-bottom: 4px;
  background: #f1f1f1;
  transition: background .2s; }
  .bookmarks li:hover {
    cursor: pointer;
    background: #ddeff5; }
    .bookmarks li:hover a {
      color: #338ca6; }

.bookmarks .bookmark-delete {
  float: right; }

.pagination {
  margin-top: 20px;
  text-align: center; }
  .pagination a {
    display: inline-block;
    margin: 0 4px;
    padding: 6px 10px;
    border: 1px solid #eee; }
  .pagination .current-page {
    color: #338ca6;
    margin: 0 4px; }

@media all and (min-width: 1024px) and (max-width: 1280px) {
  .app {
    width: 100%; }
  .view {
    margin-left: 30%; }
  .facets {
    width: 30%; }
    .facets .facet.active .facet-value:hover {
      text-decoration: none; } }

@media all and (max-width: 1024px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100; }
  .app {
    width: 100%;
    padding-top: 50px; }
  .view {
    margin-left: 0; }
  .facet-toggler {
    display: block; }
  .facets {
    float: none;
    width: 100%; }
    .facets.facets-hidden {
      display: none; }
    .facets.facets-visible {
      position: absolute;
      top: 50px;
      left: 0; }
    .facets .facet.active .facet-value:hover {
      text-decoration: none; }
  .hits-list.facets-visible,
  .hits-table.facets-visible,
  .hits-grid.facets-visible,
  .bookmarks.facets-visible {
    display: none; }
  .toolbar .total-time {
    display: none; }
  .hits-grid img {
    height: 100px;
    margin: 5px; }
  .hits-grid .image-error {
    height: 100px;
    line-height: 100px;
    margin: 5px; } }
