@media all and (min-width: 1024px) and (max-width: 1280px) {
  .app {
    width: 100%;
  }

  .view {
    margin-left: 30%;
  }

  .facets {
    width: 30%;

    .facet.active {
      .facet-value {
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

@media all and (max-width: 1024px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  .app {
    width: 100%;
    padding-top: 50px;
  }

  .view {
    margin-left: 0;
  }

  .facet-toggler {
    display: block;
  }

  .facets {
    float: none;
    width: 100%;

    &.facets-hidden {
      display: none;
    }

    &.facets-visible {
      position: absolute;
      top: 50px;
      left: 0;
    }

    .facet.active {
      .facet-value {
        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  .hits-list.facets-visible,
  .hits-table.facets-visible,
  .hits-grid.facets-visible,
  .bookmarks.facets-visible {
    display: none;
  }

  .toolbar .total-time {
    display: none;
  }

  .hits-grid {
    img {
      height: 100px;
      margin: 5px;
    }

    .image-error {
      height: 100px;
      line-height: 100px;
      margin: 5px;
    }
  }
}