.toolbar {
  font-size: 14px;
  padding-bottom: 6px;
  border-bottom: 1px solid $border-color;
  margin-bottom: 10px;

  .total-hits {
    color: $secondary-color;
  }

  .total-time {
    font-size: $font-size;
    color: $text-color-lite;
  }

  .view-modes {
    float: right;
    font-size: 16px;

    a {
      display: inline-block;
      margin-right: 10px;
      color: $muted-color;

      &:hover, &.active {
        color: $main-color;
      }

      &:last-child {
        margin: 0;
      }
    }
  }
}