// layout
$facets-width: 25%;

// colors
$main-color: #212121;
$secondary-color: #338ca6;
$ternary-color: #c28e0a;
$muted-color: #ddd;
$text-color: #4c4c4c;
$text-inverse-color: #fff;
$text-color-lite: #aaa;
$border-color: #eee;
$border-alt-color: #95bac5;
$background-color: #fff;
$background-alt-color: #f1f1f1;
$background-inverse-color: #212121;
$background-notice-color: #f1f7f9;
$border-color: #eee;
$font-size: 12px;
$font-weight: 100;
